<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b528518e-7c22-4baa-92df-4f48731a9252" name="242RoadRenewalE2E" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b528518e-7c22-4baa-92df-4f48731a9252fileName">242RoadRenewalE2E</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
